@import "variables";

html {
	font-size: 16px;
	font-family: $font__main;
}

body {
	background-color: rgba(230, 230, 250, 0.447);
}

h1,
h2 {
	font-size: 2rem;
	color: white;
}

h3,
h4,
h5,
h6 {
	font-size: 0.7rem;
}

p {
	font-size: 1rem;
}
